* {
  -webkit-background-size: border-box;
  background-size: border-box;
}

html {
  font-family: "微软雅黑", "Microsoft Yahei", sans-serif;
}

body {
  background: #c12127;
  color: #fff;
  letter-spacing: 1px;
}

.h4 {
  display: inline-block;
  width: 40%;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 100;
}

.h44 {
  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  margin-bottom: 10px;
}

.h5 {
  font-size: 13px;
  font-weight: 100;
  color: #f1cecf;
  padding: 40px;
}

.pane-1 .h4, .pane-2 .h4 {
  width: 30%;
}

.h4-b {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 100;
  display: block;
  width: 100%;
}

.sidebar {
  float: left;
  width: 20%;
  position: fixed;
}

.header {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  color: #f1cecf;
}

.header img {
  line-height: 1;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  margin-top: 60px;
}

.nav>div {
  height: 60px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.sidebar .nav h3 {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #f1cecf;
}

.nav div:hover {
  background: rgba(0, 0, 0, .1);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.nav h3:hover {
  color: #fff;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.main {
  float: right;
  width: 80%;
}

.pane-0 {
  background: #235c7d;
  padding: 40px;
  display: block;
}

.pane-1 {
  background: #1d4e69;
  color: #fff;
  padding: 40px;
  display: block;
}

.pane-2 {
  background: #273547;
  padding: 40px;
  display: block;
}

.pane-3 {
  background: #f0f0f0;
  padding: 40px;
  display: block;
}

.pane-4 {
  background: #206f9c;
  padding: 40px;
  display: block;
}

.pane-3 h1 {
  color: #373d48;
}

.title {
  padding-left: 40px;
  margin-bottom: 40px;
}

.con-wrap {
  padding-left: 80px;
}

#menu-checkbox, #menu-toggle {
  display: none;
}

.back {
  z-index: 99;
  display: none;
  position: fixed;
  bottom: 15%;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(255, 255, 255, .6);
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-wrap {
  max-width: 880px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  width: 30%;
  height: 420px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 30px;
  border-width: 1px;
  border-top-width: 10px;
  border-top-color: #cb3837;
}

.board2 {
  border-top-color: #2a79a7;
}

.board3 {
  border-top-color: #f09233;
}

.board .title {
  margin-bottom: 60px;
  padding-left: 15px;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #6d7986;
}

.content {
  margin-top: 10px;
  color: #6d7986;
  font-size: 13px;
  font-weight: 100;
}

.back img {
  padding-left: 10px;
  padding-top: 5px;
  width: 30px;
  height: 40px;
}


.footer {
  background: #273547;
  height: 100px;
  display: flex;
  justify-content: center;
}
