* {
  -webkit-background-size: border-box;
  background-size: border-box;
}

html {
  font-family: '微软雅黑', 'Microsoft Yahei', sans-serif;
}

body {
  background: #c12127;
  color: #fff;
  letter-spacing: 1px;
  word-break: keep-all;
}

.w3 {
  width: 30%;
}

.w4 {
  width: 40%;
}

.w5 {
  width: 50%;
}

.w6 {
  width: 59%;
}

.w0 {
  width: 100%;
}

.h4 {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.h44 {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sidebar {
  float: left;
  width: 20%;
  position: fixed;
}

.header {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  color: #f1cecf;
}

.header img {
  line-height: 1;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  margin: 120px 0 48px;
}

.nav > div {
  height: 60px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.sidebar .nav h3 {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #f1cecf;
}

.nav div:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.nav div:active {
  background: rgba(0, 0, 0, 0.25);
}

.nav h3:hover {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.main {
  float: right;
  width: 80%;
}

.pane-0 {
  background: #206f9c;
  padding: 40px;
  display: block;
}

.pane-1 {
  background: #1d4e69;
  color: #fff;
  padding: 40px;
  display: block;
}

.pane-2 {
  background: #1d4e69;
  padding: 40px;
  display: block;
}

.pane-3 {
  background: #f0f0f0;
  padding: 40px;
  display: block;
}

.pane-4 {
  background: #206f9c;
  padding: 40px;
  display: block;
}

.pane-3 h1 {
  color: #373d48;
}

.title {
  padding-left: 40px;
  margin-bottom: 40px;
}

.con-wrap {
  padding-left: 80px;
}

#menu-checkbox,
#menu-toggle {
  display: none;
}

.back {
  display: none;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-wrap {
  max-width: 880px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.board {
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  width: 31%;
  height: 320px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 30px;
  border-width: 1px;
  border-top-width: 10px;
  border-top-color: #cb3837;
}

.board2 {
  border-top-color: #2a79a7;
}

.board3 {
  border-top-color: #f09233;
}

.board .title {
  margin-bottom: 60px;
  padding-left: 15px;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #5d6976;
}

.content {
  margin-top: 10px;
  color: #5d6976;
  font-size: 15px;
  font-weight: 100;
}

.back img {
  padding-left: 10px;
  padding-top: 5px;
  width: 30px;
  height: 40px;
}

a.download {
  cursor: pointer;
  color: #373d48;
  text-decoration: none;
}

.footer {
  background: #f0f0f0;
  font-size: 13px;
  font-weight: 100;
  color: #5d6976;
  height: 64px;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  display: -webkit-flex;
}
